In [3]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_style(style="darkgrid")

In [8]:
data=pd.read_csv("data/Asiafootball.txt",header=None,names=["国家","2006","2010","2007"])
data.head()

   国家  2006  2010  2007
0  中国    50    50     9
1  日本    28     9     4
2  韩国    17    15     3
3  伊朗    25    40     5
4  沙特    28    40     2

In [12]:
X=data.iloc[:,1:]

In [13]:
Kmeans=KMeans(n_clusters=3)
Kmeans.fit(X)

KMeans(n_clusters=3)

In [15]:
y_=Kmeans.predict(X)
y_

array([1, 2, 2, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1])

In [19]:
country=data["国家"].values
country

array(['中国', '日本', '韩国', '伊朗', '沙特', '伊拉克', '卡塔尔', '阿联酋', '乌兹别克斯坦', '泰国',
       '越南', '阿曼', '巴林', '朝鲜', '印尼'], dtype=object)

In [23]:
for i in range(3):
    print(country[np.argwhere(y_==i).ravel()])

['伊朗' '沙特' '乌兹别克斯坦' '巴林' '朝鲜']
['中国' '伊拉克' '卡塔尔' '阿联酋' '泰国' '越南' '阿曼' '印尼']
['日本' '韩国']