In [55]:
import numpy as np
import pandas as pd

from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor

In [56]:
salary=pd.read_csv("data/adults.txt")
salary.shape

(32561, 15)

In [57]:
salary.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [58]:
# 数据预处理
y=salary["salary"]
x=salary.iloc[:,[0,1,3,5,6,8,9,-2,-3]]

In [59]:
x.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,State-gov,Bachelors,Never-married,Adm-clerical,White,Male,United-States,40
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,United-States,13
2,38,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,United-States,40
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,United-States,40
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,Cuba,40

In [60]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   marital_status  32561 non-null  object
 4   occupation      32561 non-null  object
 5   race            32561 non-null  object
 6   sex             32561 non-null  object
 7   native_country  32561 non-null  object
 8   hours_per_week  32561 non-null  int64
dtypes: int64(2), object(7)
memory usage: 2.2+ MB

In [61]:
# 数据预处理 数据转换
workclass=x["workclass"].unique()
workclass_map={}
for index,value in enumerate(workclass):
    workclass_map[value]=index
x["workclass"]=x["workclass"].map(workclass_map)

<ipython-input-61-ad9b6b4cbbb3>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["workclass"]=x["workclass"].map(workclass_map)

In [62]:
for col in x.columns[2:-1]:
    X=x[col].unique()
    
    convent_map={}
    for index,value in enumerate(X):
        convent_map[value]=index
        
       
    x[col]=x[col].map(convent_map)

<ipython-input-62-ea769f662a9f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[col]=x[col].map(convent_map)

In [66]:

x.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,0,0,0,0,0,0,0,40
1,50,1,0,1,1,0,0,0,13
2,38,2,1,2,2,0,0,0,40
3,53,2,2,1,2,1,0,0,40
4,28,2,0,1,3,1,1,1,40

In [71]:
from sklearn.model_selection import train_test_split

In [72]:
a=np.arange(100)

In [73]:
a_train,a_test=train_test_split(a,test_size=0.1)
a_train

array([71, 10,  2, 70, 23, 61, 25, 68, 41, 73, 66, 84, 43, 64, 19, 11, 32,
       62, 72, 38, 39,  3, 91,  0, 36, 18, 90, 13, 55, 76, 53, 29, 99, 75,
        8, 63,  4, 45, 98, 50,  7, 67, 12, 42, 35,  5, 85, 14, 80, 51, 49,
       54, 79, 22, 60, 31, 52, 20, 89, 59, 56, 58, 95, 93, 24, 88, 16, 81,
       96, 87, 26, 28, 82, 46, 15, 30, 27, 44, 92, 94, 57, 34, 77, 47,  1,
       65, 83, 69, 86, 17])

In [75]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [78]:
x_train.shape

(26048, 9)

In [81]:
y_train.shape

(26048,)

In [98]:
%%time
knn=KNeighborsClassifier(n_neighbors=20,weights="distance")
knn.fit(x_train,y_train)
y_=knn.predict(x_test)
result=y_==y_test
result.mean()

Wall time: 503 ms

0.7801320436050975

In [100]:
x.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,0,0,0,0,0,0,0,40
1,50,1,0,1,1,0,0,0,13
2,38,2,1,2,2,0,0,0,40
3,53,2,2,1,2,1,0,0,40
4,28,2,0,1,3,1,1,1,40

In [103]:
# 最大值最小值归一化
v_min=x.min()
v_max=x.max()

In [107]:
new_x=(x-v_min)/(v_max-v_min)
x_train,x_test,y_train,y_test=train_test_split(new_x,y,test_size=0.2)

In [116]:
%%time
knn=KNeighborsClassifier(n_neighbors=20,weights="distance")
knn.fit(x_train,y_train)
y_=knn.predict(x_test)
result=y_==y_test
result.mean()

Wall time: 662 ms

0.8152924919391985

In [134]:
# Z-score

v_mean=x.mean()
v_std=x.std()

x3=(x-v_mean)/v_std
x_train,x_test,y_train,y_test=train_test_split(x3,y,test_size=0.2)
knn=KNeighborsClassifier(n_neighbors=20,weights="distance")
knn.fit(x_train,y_train)
y_=knn.predict(x_test)
result=y_==y_test
result.mean()

0.8086903116843237

In [136]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [139]:
s=StandardScaler()
x4=s.fit_transform(x)
x_train,x_test,y_train,y_test=train_test_split(x4,y,test_size=0.2)
knn=KNeighborsClassifier(n_neighbors=20,weights="distance")
knn.fit(x_train,y_train)
y_=knn.predict(x_test)
result=y_==y_test
result.mean()

0.8079226163058498

In [143]:
s=MinMaxScaler()
x5=s.fit_transform(x)
x_train,x_test,y_train,y_test=train_test_split(x5,y,test_size=0.2)
knn=KNeighborsClassifier(n_neighbors=20,weights="distance")
knn.fit(x_train,y_train)
y_=knn.predict(x_test)
result=y_==y_test
result.mean()

0.8086903116843237

In [144]:
import joblib

In [151]:
joblib.dump(knn,"model",compress=9)

['model']

In [150]:
model=joblib.load("model")
model.score(x_test,y_test)

0.8086903116843237